---
version: '3.7'
services:
  app:
    container_name: '{{ grafana_cont_name }}'
    image: '{{ grafana_image }}'
    restart: always
    ports:
      - '127.0.0.1:{{ grafana_port }}:{{ grafana_port }}'
    volumes:
      - '{{ grafana_cont_vol }}/lib:/var/lib/grafana'
      - '{{ grafana_cont_vol }}/etc:/etc/grafana'
