apiVersion: 1

datasources:
{% for database in grafana_postgres_sources %}
- name: {{ database.name | mandatory }}
  type: postgres
  url: {{ database.host | mandatory }}:{{ database.port | mandatory}}
  user: {{ database.user | mandatory}}
  secureJsonData:
    password: '{{ database.password | mandatory }}'
  jsonData:
    database: {{ database.database | mandatory }}
    sslmode: 'disable'
    maxOpenConns: {{ database.maxOpenConns | default(100) }}
    maxIdleConns: {{ database.maxOpenConns | default(100) }}
    maxIdleConnsAuto: true
    connMaxLifetime: 14400
    postgresVersion: 1400
    timescaledb: false
{% endfor %}
