apiVersion: 1

deleteDatasources:
{% for service in grafana_prometheus_sources %}
  - id: {{ loop.index }}
{% endfor %}

datasources:
{% for service in grafana_prometheus_sources %}
- name: {{ service.name }}
  type: prometheus
  orgId: 1
  access: proxy
  url: http://{{ service.addr }}:{{ service.port }}/{{ service.path | default("") }}
  withCredentials: false
  isDefault: {{ loop.first }}
  jsonData:
     tlsAuth: false
     tlsAuthWithCACert: false
  version: 1
  editable: true

{% endfor %}
